<section id="SignIn" class="signin">
    <div class="section-title center-text" data-aos="zoom-out">
      <h2 >{{ returnText('COMPONENT', 'SignIn') }}</h2>
      <p >{{ returnText('SIGNIN', 'Signin_title') }}</p>
    </div>
     <p class="signin"></p>
    <div>
  
    <div class="container-fluid center d-flex signin-width">
      <form class="form-control center login-email">
        <H4> {{ returnText('SIGNIN', 'Signin_subtitle') }} </H4>
        <div class="form-group m-2">
          <label class="sr-only d-flex justify-content-center py-2" for="inputEmail"> {{ returnText('LABEL', 'Label_email_address') }} </label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email"/>
        </div>
        <div class="form-group">
          <label class="sr-only d-flex justify-content-center py-2" for="inputPassword"> {{ returnText('LABEL', 'Label_password') }} </label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <p class="d-flex justify-content-center py-4">
          <button class="btn btn-primary" type="submit" >{{ returnText('BUTTON', 'Button_signin') }}</button>
        </p>
      </form>
    </div>
  
    <div>
      <h1> </h1>
      <p></p>
    </div>  