.signin-width{
	width : 600px;
}

.p {
  margin-top: 10px;
}

/* modifies the icon looks & properties @ left side */
.signin i {
  margin-right: 1rem;
  font-size: 24px;
  color: #ef6603;
  float: left;
  width: 40px;
  height: 40px;
  background: #ffecde;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 769px) {
  .contact {
    display: block;
  }

  .signin{
    margin-bottom: 3rem;
  }

  .signin-width {
      width: 75%
    }
  }

@media (max-width: 450px) {

  .signin-width {
    width: 100%
  }
}
