.btn-custom {
    background-color: rgb(247, 143, 23);
    border-radius: 25px;
    font-style: italic;
    font-weight: 600;
  }

    .contact .info {
      margin-left: 8rem;
      background: #fff;
    }

    /* modifies the icon looks & properties @ left side */
  .contact .info i {
    font-size: 24px;
    color: #ef6603;
    float: left;
    width: 40px;
    height: 40px;
    background: #ffecde;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
    /* modifies the top line text looks & properties @ left side */
  .contact .info h4 {
    padding: 7px 0 0 20px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2a2c39;
  }
  .contact .info p {
      padding: 0 0 0 60px;
      margin-bottom: 10px;
      font-size: 14px;
      color: #555974;
    }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #ef6603;
    color: #fff;
  }
   /* Formats text shown as contact field labels */
  .contact .labels {
    padding-left: .25rem;
    font-weight: 600;
    font-size: 24px;
    /* font-family: "Yanone Kaffeesatz"; */
    /* letter-spacing: 0.05rem; */
    color: #fe5828;
  }
   /* Formats text shown as a placeholder */
  .contact .placeholders {
    padding-left: .5rem;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05rem;
    /* font-family: "Yanone Kaffeesatz"; */
    /* color: #fe5828; */
  }

    @media (max-width: 400px) {
      .contact {
        display: block !important;
      }


    }
