<section id="signup" class="signup">
  <div class="section-title center-text" data-aos="zoom-out">
    <h2>{{ returnText('COMPONENT', 'SignUp') }}</h2>
    <p>{{ returnText('SIGNUP', 'Signup_title') }}</p>
    <p>{{ returnText('SIGNUP', 'Signup_subtitle') }}</p>
  </div>
  <div>
    <div class="container-fluid center d-flex signin-width">
      <form class="form-control center login-email">
        <!-- <H4> {{ returnText('SIGNUP', 'Signup_subtitle') }} </H4> -->
        <div class="form-group m-2 inline">
          <label class="sr-only d-flex justify-content-center py-2"> {{ returnText('SIGNUP',
            'Signup_first_name') }} </label>
          <input type="first name" class="formControl" placeholder="{{ returnText('SIGNUP',
          'Signup_first_name') }}" #userFirstName required />
        </div>
        <div class="form-group m-2 inline">
          <label class="sr-only d-flex justify-content-center py-2" > {{ returnText('SIGNUP',
            'Signup_last_name') }} </label>
          <input type="last name" class="formControl" placeholder="{{ returnText('SIGNUP',
          'Signup_last_name') }}" #userLastName required />
        </div>
        <div class="form-group m-2 inline">
          <label class="sr-only d-flex justify-content-center py-2" for="inputEmail"> {{ returnText('',
            'Label_email_address') }} </label>
          <input type="Email" class="formControl" placeholder="email" #userEmail required />
        </div>
        <div class="form-group m-2">
          <label class="sr-only d-flex justify-content-center py-2" for="inputPassword"> {{ returnText('LABEL',
            'Label_email_address') }} </label>
          <input type="password" class="formControl" placeholder="Password" #userPwd required />
        </div>
        <p class="d-flex justify-content-center py-4">
          <button class="btn btn-primary" type="submit"
            (click)="authService.new_register(userEmail.value, userPwd.value,userFirstName.value, userLastName.value)">{{
            returnText('BUTTON', 'Button_signup') }}</button>
        </p>
      </form>
    </div>