<!-- Navbar / Toolbar -->
<nav class="navbar navbar-expand-md">
	<button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
	      aria-label="Toggle navigation" (click)="collapsed = !collapsed">
	      <span class="navbar-toggler-icon"></span>
	    </button>
<div class="navbar-nav container-fluid toolbar fixed-top " [class.collapse]="collapsed" role="banner">
  <img  alt="Angular Logo" src="/assets/img/iiCt_Round_Plain.png"/>
  <H2 class=""> {{ this.appService.returnText('COMPANY', 'Company_name_long') }} </H2>
	<div class="spacer"></div>
  	<!-- <label class="one_space_r">
		 {{ returnText('HOME', 'Home_Select') }}
    </label> -->

	   <div ngbDropdown class="d-inline-block">
	 	<button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>{{ this.returnLanguageString(this.translate.currentLang) }}</button>
	 	<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
			<div *ngFor="let lang of this.languages">
		  <button (click)="this.selectLanguage(lang.language)" ngbDropdownItem>

				 <img class="languageImg languageText" src="{{ returnLanguageImage(lang.language) }}">
				 {{ lang.name }}
			  </button>
			  </div>
	 	</div>
	 </div>

    <div class="spacer"></div>


	<button class="one_space_r btn btn-secondary" (click)="this.appService.switchPage('home')">{{ returnText('COMPONENT', 'Home') }}</button>

	<button class="one_space_r btn btn-secondary" (click)="this.appService.switchPage('team')">{{ returnText('COMPONENT', 'Teams') }}</button>
	<button class="one_space_r btn btn-secondary" (click)="this.appService.switchPage('contacts')">{{ returnText('COMPONENT', 'Contacts') }}</button>
	<button class="one_space_r btn btn-secondary" (click)="this.appService.switchPage('faq')">{{ returnText('COMPONENT', 'Faq') }}</button>

	<div *ngIf="this.authService.signedIn == false; else otherBlock">
	<button class="one_space_r btn btn-primary" (click)="login()">{{ returnText('COMPONENT', 'SignIn') }}</button>
	</div>
	<ng-template #otherBlock>
		<button class="one_space_r btn btn-primary" (click)="logout()">{{ returnText('NAVBAR', 'Nav_SignOut') }}</button>
		</ng-template>
		<button class="btn btn-warning" (click)="this.appService.switchPage('signup')">{{ returnText('COMPONENT', 'SignUp') }}</button>
</div>
</nav>
