<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">

  <div class="sidebar-header"> <!-- Sidebar Top Line / Title -->
    <h1 class="sidebar-title">{{ returnText('COMPANY', 'Company_name_short') }}</h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>

  <div class="sidebar-content"> <!-- Items to be included in the sidebar under here -->

    <div class="sidebar-link">  <!-- Home Line -->
      <div class="sidebar-content" [routerLink]="['/home']" [routerLinkActive]="'active'">
        <div class="inline sidebar-icon">
          <i class="bx bx-home-alt-2"></i>
          <div class="sidebar-title">&nbsp;{{ returnText('COMPONENT', 'Home') }}</div>
        </div>
      </div>
    </div>

    <div class="sidebar-link with-children"> <!-- Link line with child links below -->
      <div class="sidebar-content" [routerLink]="['/teams']" [routerLinkActive]="'active'"> <!-- Link top line item -->
        <div class="inline sidebar-icon">
          <i class='bx bxl-microsoft-teams'></i>
          <div class="sidebar-title">&nbsp;{{ returnText('TEAM', 'Team_title') }}</div>
        </div>
      </div>

      <div class="sidebar-children">  <!-- Link child line items -->

        <div class="sidebar-link">  <!-- Link child 1 -->
          <div class="sidebar-content" [routerLink]="['/admin']" [queryParams]="{ 'child': '1' }" [routerLinkActive]="'active'">
            <div class="inline sidebar-icon">
              <i class='bx bx-dice-1'></i>
              <div class="sidebar-title">&nbsp;{{ returnText('TEAM', 'Team_role_1') }}</div>
            </div>
          </div>
        </div>

        <div class="sidebar-link">  <!-- Link child 2 -->
          <div class="sidebar-content" [routerLink]="['/admin']" [queryParams]="{ 'child': '2' }" [routerLinkActive]="'active'">
            <div class="inline sidebar-icon">
              <i class='bx bx-dice-2'></i>
              <div class="sidebar-title">&nbsp;{{ returnText('TEAM', 'Team_role_2') }}</div>
            </div>
          </div>
        </div>

        <div class="sidebar-link">  <!-- Link child 3 -->
          <div class="sidebar-content" [routerLink]="['/admin']" [queryParams]="{ 'child': '3' }" [routerLinkActive]="'active'">
            <div class="inline sidebar-icon">
              <i class='bx bx-dice-3'></i>
              <div class="sidebar-title">&nbsp;{{ returnText('TEAM', 'Team_role_3') }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="sidebar-link">  <!-- Link line - no chilren -->
      <div class="sidebar-content" [routerLink]="['/contacts']" [routerLinkActive]="'active'">
        <div class="inline sidebar-icon">
          <i class='bx bx-phone'></i>
          <div class="sidebar-title">&nbsp;{{ returnText('COMPONENT', 'Contacts') }}</div>
        </div>
      </div>
    </div>
  </div>
  </div>
