.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  justify-content: center;
  margin-bottom: 30px;
  border: 1.5px solid rgba(255, 145, 77, .6);
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(255, 145, 77, 0.5);

}

.team .member .member-img {
  position: relative;
  overflow: hidden;
  text-align: center;
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
  min-width: 250px;
}

.team .member .member-img>img {
  width: 100%;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 60px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(127, 137, 161, 0.7);;
  transition: ease-in-out 0.3s;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.team .member .social a:hover {
  background: rgba(254, 88, 40, 0.5);
}

.team .member .social i {
  padding-right: 1px;
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-family: "Yanone Kaffeesatz";
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 24px;
  color: #2a2c39;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 8.5rem;
  padding-top: 1rem;
}

.team .image-fluid {
  padding: 0;
  max-height: 150px;
  min-height: 150px;
}

.round-img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin-top: 2rem;
}

.swiper-team {
  margin-top: 20px;
  position: relative;
  bottom: 10px;
  width: 100%;
}

.box-size {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.team .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #fe5828;
}

.team .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fe5828;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
/* .team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  justify-content: center;
  margin-bottom: 30px;
  border: 1.5px solid rgba(255, 145, 77, .6);
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(255, 145, 77, 0.5);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
  text-align: center;
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
  min-width: 250px;
}

.team .member .member-img>img {
  width: 100%;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 60px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(127, 137, 161, 0.7);
  ;
  transition: ease-in-out 0.3s;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.team .member .social a:hover {
  background: rgba(254, 88, 40, 0.5);
}

.team .member .social i {
  padding-right: 1px;
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-family: "Yanone Kaffeesatz";
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 24px;
  color: #2a2c39;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 8.5rem;
  padding-top: 1rem;
}

.team .image-fluid {
  padding: 0;
  max-height: 150px;
  min-height: 150px;
}

.round-img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin-top: 2rem;
}

.swiper-team {
  margin-top: 20px;
  position: relative;
  bottom: 10px;
  width: 100%;
}

.box-size {
  margin-left: 5%;
  width: 100%;
}

.team .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #fe5828;
}

.team .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fe5828;
} */
