<section id="team" class="team">  <!-- ======= Team Section ======= -->
    <div class="container indent-left75 indent-right75">
      <div class="section-title center-text" data-aos="zoom-out">
        <h2 >{{ returnText('TEAM', 'Team_title') }}</h2>
        <p >{{ returnText('TEAM', 'Team_subtitle') }}</p>
        <p></p>
      </div>

	  <swiper-container slides-per-view="3" navigation="true" pagination="true" speed="500" loop="true" css-mode="false">
      <swiper-slide> <!-- Gervan Nantel -->
        <div class="testimonial-item box-size">
        <div class="member" data-aos="fade-up">
          <div class="center-text">
          <img src="assets/img/Team/iiCt_Gervan.png" class="testimonial-img round-img" alt="">
          <div class="social">
            <a href="https://www.linkedin.com/in/gervan-p-nantel" target="_blank" rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
            <!-- <a href=""><i class="bx bxl-twitter"></i></a>
            <a href=""><i class="bx bxl-facebook"></i></a>
            <a href=""><i class="bx bxl-instagram"></i></a> -->
          </div>
          </div>
          <div class="member-info center-text">
          <h4>{{ returnText('TEAM', 'Team_name_gn') }}</h4>
          <span >{{ returnText('TEAM', 'Team_role_gn') }}</span>
          </div>
        </div>
        </div>
      </swiper-slide>

	  <swiper-slide> <!-- Lalaantika Sharma -->
		  <div class="testimonial-item box-size">
			<div class="member" data-aos="fade-up" data-aos-delay="200">
			  <div class="center-text">
				<img src="assets/img/Team/iiCt_Lalaantika.png" class="testimonial-img round-img" alt="">
				<div class="social">
				  <a href=" target="_blank rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
				  <!-- <a href=""><i class="bx bxl-twitter"></i></a>
				  <a href=""><i class="bx bxl-facebook"></i></a>
				  <a href=""><i class="bx bxl-instagram"></i></a> -->
				</div>
			  </div>
			  <div class="member-info center-text">
				<h4>{{ returnText('TEAM', 'Team_name_ls') }}</h4>
				<span >{{ returnText('TEAM', 'Team_role_ls') }}</span>
			  </div>
			</div>
		  </div>
	  </swiper-slide>

	  <swiper-slide> <!-- Dave Crispin -->
		  <div class="testimonial-item box-size">
			<div class="member" data-aos="fade-up" data-aos-delay="300">
			  <div class="center-text">
				<img src="assets/img/Team/iiCt_DaveC.png" class="testimonial-img round-img" alt="">
				<div class="social">
				  <a href="https://www.linkedin.com/in/david-crispin-ca/" target="_blank" rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
				  <!-- <a href=""><i class="bx bxl-twitter"></i></a>
				  <a href=""><i class="bx bxl-facebook"></i></a>
				  <a href=""><i class="bx bxl-instagram"></i></a> -->
				</div>
			  </div>
			  <div class="member-info center-text">
				<h4>{{ returnText('TEAM', 'Team_name_dc') }}</h4>
				<span >{{ returnText('TEAM', 'Team_role_devcon') }}</span>
			  </div>
			</div>
		  </div>
	  </swiper-slide>

	  <swiper-slide> <!-- Roaa Almadi -->
		  <div class="testimonial-item box-size">
			<div class="member" data-aos="fade-up" data-aos-delay="400">
			  <div class="center-text">
				<img src="assets/img/Team/iiCt_Roaa.png" class="testimonial-img round-img" alt="">
				<div class="social">
				  <a href="https://www.linkedin.com/in/roaa-almadi/" target="_blank" rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
				  <!-- <a href=""><i class="bx bxl-twitter"></i></a>
				  <a href=""><i class="bx bxl-facebook"></i></a>
				  <a href=""><i class="bx bxl-instagram"></i></a> -->
				</div>
			  </div>
			  <div class="member-info center-text">
				<h4>{{ returnText('TEAM', 'Team_name_ra') }}</h4>
				<span >{{ returnText('TEAM', 'Team_role_devcon') }}</span>
			  </div>
			</div>
		  </div>
	  </swiper-slide>

	   <!-- <swiper-slide>  Andrew Wiseman
		   <div class="testimonial-item box-size">
			 <div class="member" data-aos="fade-up" data-aos-delay="500">
			   <div class="center-text">
				 <img src="assets/img/Team/iiCt_AndrewW.png" class="testimonial-img round-img" alt="">
				 <div class="social">
				   <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
				   <a href="" target="_blank" rel="noopener noreferrer"><i class="bx bxl-twitter"></i></a>
				   <a href="" target="_blank" rel="noopener noreferrer"><i class="bx bxl-facebook"></i></a>
				   <a href="" target="_blank" rel="noopener noreferrer"><i class="bx bxl-instagram"></i></a>
				 </div>
			   </div>
			   <div class="member-info center-text">
				 <h4>{{ returnText('TEAM', 'Team_name_aw') }}</h4>
				 <span >{{ returnText('TEAM', 'Team_role_junior') }}</span>
			   </div>
			 </div>
		   </div>
	   </swiper-slide> -->

	  </swiper-container>

      </div>

</section><!-- End Team Section -->

<section id="ads" class="ads"> <!-- Start Teamwork Add Section -->
  <div class="container center-text">
    <a href="https://www.teamwork.com/partner/zyueqpn1fa" target="_blank" rel="noopener noreferrer">
      <img class="align-content-center" alt="Teamwork Projects" src="https://s3.amazonaws.com/tw-referrals/wide.png" srcset="https://s3.amazonaws.com/tw-referrals/wide.png 1x, https://s3.amazonaws.com/tw-referrals/wide@2x.png 2x" width="728" height="90">
    </a>
  </div>
</section><!-- End Teamwork Add Section -->
