<p *ngIf="params != null">Page Parameter 'Child' = {{ params }}
<section id="team" class="team">  <!-- ======= Team Section ======= -->


          <div class="row">
          <div class="testimonials-slider swiper align-center indent-left75 indent-right75" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper ">
                <div class="section-title center-text" data-aos="zoom-out">
                  <h2 >{{ returnText('TEAM', 'Team_title') }}</h2>
                  <p >{{ returnText('TEAM', 'Team_subtitle') }}</p>
                  <p></p>
                </div>
              <div class="swiper-slide inline">
                <div class="testimonial-item box-size">
                  <div class="member" data-aos="fade-up">
                    <div class="center-content">
                      <img src="assets/img/team/gervan1.png" class="testimonial-img round-img" alt="">
                      <div class="social">
                        <a href="https://www.linkedin.com/in/gervan-p-nantel" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                        <!-- <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a> -->
                      </div>
                    </div>
                    <div class="member-info">
                      <h4>Gervan Nantel</h4>
                      <span data-i18n="team_role_gn">Managing Director & Consultant</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item box-size">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="center-content">
                      <img src="assets/img/team/lalaantika.jpg" class="testimonial-img round-img" alt="">
                      <div class="social">
                        <a href=" target="_blank rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                        <!-- <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a> -->
                      </div>
                    </div>
                    <div class="member-info">
                      <h4>Lalaantika Sharma</h4>
                      <span data-i18n="team_role_ls">Development Director & Consultant</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item box-size">
                  <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="center-content">
                      <img src="assets/img/team/david-1.png" class="testimonial-img round-img" alt="">
                      <div class="social">
                        <a href=""><i class="bi bi-linkedin"></i></a>
                        <!-- <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a> -->
                      </div>
                    </div>
                    <div class="member-info">
                      <h4>David Crispin</h4>
                      <span data-i18n="team_role_devcon">Developer & Consultant</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="testimonial-item box-size">
                  <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="center-content">
                      <img src="assets/img/team/Roaa.png" class="testimonial-img round-img" alt="">
                      <div class="social">
                        <a href="https://www.linkedin.com/in/roaa-almadi/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                        <!-- <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a> -->
                      </div>
                    </div>
                    <div class="member-info">
                      <h4>Roaa Almadi</h4>
                      <span data-i18n="team_role_devcon">Developer & Consulatnt</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="center-content">
                      <img src="assets/img/team/david-1.png" class="testimonial-img round-img" alt="">
                      <div class="social">
                        <a href=""><i class="bi bi-linkedin"></i></a>
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
                    <div class="member-info">
                      <h4>Les Cameron</h4>
                      <span data-i18n="team_role_devcon">Developer & Consultant</span>
                    </div>
                  </div>
                </div>
              </div> -->

            </div>
            <div class="swiper-pagination swiper-team"></div>
          </div>
          </div>
      </section><!-- End Team Section -->
