<section id="legal" class="legal">
  <div class="container">

	<ng-template #content let-modal>
		<div class="modal-header">
		  <h4 class="modal-title">Modal title</h4>
		  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  Modal content
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
		</div>
	</ng-template>

	<div class="section-title center-text" data-aos="zoom-out">  <!-- Contact title section -->
		<h2 >{{ returnText('LEGAL', 'Legal_title') }}</h2>
		<p >{{ returnText('LEGAL', 'Legal_subtitle') }}</p>
		<div>
		  <H1></H1>
		  <button type="button" class="btn btn-primary" (click)="open(content)">Legal Details</button>
		</div>
	  </div>
  </div>
</section>
