
<section id="portfolio" class="portfolio">
        <div class="container-fluid">

          <div class="section-title center-text" data-aos="zoom-out">
            <h2 data-i18n="portfolio_section_title">The Portfolio</h2>
            <p data-i18n="portfolio_section_subtitle">What we've worked on & done</p>
          </div>

          <ul id="portfolio-flters" class="d-flex justify-content-end pagination pagination-lg" data-aos="fade-up">
			<button class="btn btn-primary bttn" (click)="ChangeFilter('All')">All</button>
			<button class="btn btn-primary bttn" (click)="ChangeFilter('App')">App</button>
			<button class="btn btn-primary bttn" (click)="ChangeFilter('Media')">Media</button>
			<button class="btn btn-primary bttn" (click)="ChangeFilter('Web')">Web</button>
          </ul>

          <div class="row portfolio-container center-text" data-aos="fade-up">

  				<div *ngFor="let port of filter" class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up">
  				  <div class="portfolio-img"><img src="assets/img/portfolio/vara_copy.png" class="img-fluid" alt=""></div>
  				  <div class="portfolio-info">
  					<h4>{{ port.title }}</h4>
  					<p data-i18n="portfolio_app" >{{ port.category }}</p>
  					<a href="assets/img/portfolio/vara_copy.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ port.title }}"><i class="bx bx-plus"></i></a>
  					<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
  				  </div>
  				</div>

          </div>

        </div>
      </section><!-- End Portfolio Section -->
