<section id="about" class="about">
  <div class="container">
    <div class="section-title center-text" data-aos="zoom-out">
      <h2 >{{ returnText('ABOUT', 'About_title') }}</h2>
      <p >{{ returnText('ABOUT', 'About_subtitle') }}</p>
    </div>
      <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
              <p class="margin-top" > {{ returnText('ABOUT', 'About_body_1') }} </p>
              <p class="" > {{ returnText('ABOUT', 'About_body_2') }} </p>
              <ul>  <!-- Bullet point text items About_bullet_1-5 -->
                <div class="inline">
                  <li><i class='bx bx-check-double'></i>
                  <li class="bullet-align"> {{ returnText('ABOUT', 'About_bullet_1') }} </li>
                </div>
                <div class="inline">
                  <li><i class='bx bx-check-double'></i>
                  <li class="bullet-align"> {{ returnText('ABOUT', 'About_bullet_2') }} </li>
                </div>
                <div class="inline">
                  <li><i class='bx bx-check-double'></i>
                  <li class="bullet-align"> {{ returnText('ABOUT', 'About_bullet_3') }} </li>
                </div>
                <div class="inline">
                  <li><i class='bx bx-check-double'></i>
                  <li class="bullet-align"> {{ returnText('ABOUT', 'About_bullet_4') }} </li>
                </div>
                <div class="inline">
                  <li><i class='bx bx-check-double'></i>
                  <li class="bullet-align"> {{ returnText('ABOUT', 'About_bullet_5') }} </li>
                </div>
              </ul>
            </div>
            <div class="col-lg-6 about-second-col">  <!-- Right Side Video -->
              <video controls class="promo-right">
                <source src="assets/img/video/iiCt_Promo_2.mp4" type="video/mp4">
              </video>
        </div>
      </div>
          <div class="row content" data-aos="fade-up">
            <div class="col-lg-6 about-second-col">  <!-- Left Side Video -->
              <video controls class="promo-left">
                <source src="assets/img/video/iiCt_Promo_1.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col-lg-6 about-second-col margin-top">
              <p class=""> {{ returnText('ABOUT', 'About_body_3') }} </p>
              <a href="new.html#" class="btn-learn-more" > {{ returnText('BUTTON', 'Button_learn_more') }} </a>
            </div>
          </div>
  </div>
