<!-- ======= Footer code from Flattern Index ======= -->
<footer id="footer">
<div class="container-fluid footer fixed-bottom py-2">



    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3> {{ this.appService.returnText('COMPANY', 'Company_name_long') }} </h3>
            <p> {{ this.appService.returnText('COMPANY', 'Company_address_1') }} </p>
            <p> {{ this.appService.returnText('COMPANY', 'Company_address_2') }} </p>
            <p> {{ this.appService.returnText('COMPANY', 'Company_address_3') }} </p>
            <br>
            <div class="inline">
              <p data-i18n="Footer_label_phone"><strong>Phone:</strong> </p>
              <p>&nbsp;&nbsp;</p>
              <p> {{ this.appService.returnText('COMPANY', 'Company_phone_main') }} </p>
            </div>
            <div class="inline">
              <p data-i18n="Footer_label_email"><strong>Email:</strong></p>
              <p>&nbsp;&nbsp;&nbsp;</p>
              <p> {{ this.appService.returnText('COMPANY', 'Company_email_contact') }} </p>
            </div>
            <br><br>
            <!-- <select onchange="changeLanguage()" id="leaveCode" name="leaveCode" class="language-btn ">
              <ul class="option">
                <li><option value="en" data-i18n="footer_label_english" >English</option></li>
                <li><option value="fr" data-i18n="footer_label_french" >français</option></li>
              </ul>
            </select> -->
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4 data-i18n="footer_label_links">Quick Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_home" href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_about" href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_services" href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_terms" href="terms-privacy.html">Terms of Service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_privacy" href="terms-privacy.html">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 data-i18n="footer_services_title">Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_consult" href="#">Project Consulting Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_packages" href="#">Start-up Packages (Web, Creative Media)</a></li>
              <li><i class="bx bx-chevron-right"></i> <a data-i18n="footer_nav_develop" href="#">Development Consulting (Web & App)</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4 data-i18n="footer_mailing_title">Join Our Mailing List</h4>
            <p data-i18n="footer_mailing_body">For more information on our products and services, subscribe to our mailing list and we will be in contact with you</p>
            <form action="forms/subscribe.php" method="post" role="form" class="php-email-form" >
              <input type="email" name="email" placeholder="Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex inline-centered">

      <div class=" " >
        <div class="copyright inline">
          {{ this.appService.returnText('FOOTER', 'Footer_cp1') }}
          <p>&nbsp;&nbsp;</p>
          <p><strong><span class="name-highlight"> {{ this.appService.returnText('COMPANY', 'Company_name_long') }}</span></strong></p>
          <p>&nbsp;&nbsp;</p>
          {{ this.appService.returnText('FOOTER', 'Footer_cp2') }}
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.linkedin.com/company/iiconsult-tech-inc" target="_blank" rel="noopener noreferrer" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://twitter.com/iiconsulttech?ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/iiConsult.tech" target="_blank" rel="noopener noreferrer" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/iiconsult.tech" target="_blank" rel="noopener noreferrer" class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
      </div>
    </div>
</div>
</footer><!-- End Footer -->
