<div class="container-fluid footer fixed-bottom">
  <div class="d-flex align-items-center justify-content-center">
    <H1>{{ this.appService.returnText('FOOTER', 'Footer') }}</H1>
  </div>
  <div class="d-flex align-items-center justify-content-center ">
    <p > {{ this.appService.returnText('FOOTER', 'Footer_Title') }}</p>
  </div>
  <div>
    <p class="d-flex align-items-center justify-content-center "> {{ this.appService.returnText('FOOTER', 'Title_1') }}</p>
    <p class="d-flex align-items-center justify-content-center "> {{ this.appService.returnText('FOOTER', 'Title_2') }}</p>
  </div>

</div>
