<!-- ======= Footer code from Flattern Index ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="row ">
      <div class="col-lg-3 col-md-6 footer-contact"> <!-- Footer Info  Column 1-->
        <h3> {{ returnText('COMPANY', 'Company_name_long') }} </h3>
        <p> {{ returnText('COMPANY', 'Company_address_1') }} </p>
        <p> {{ returnText('COMPANY', 'Company_address_2') }} </p>
        <p> {{ returnText('COMPANY', 'Company_address_3') }} </p>
        <br>
        <div class="inline">
          <p><strong>{{ returnText('FOOTER', 'Footer_label_phone') }}</strong> </p>
          <p>&nbsp;&nbsp;</p>
          <p> {{ returnText('COMPANY', 'Company_phone_main') }} </p>
        </div>
        <div class="inline">
          <p><strong>{{ returnText('FOOTER', 'Footer_label_email') }}</strong></p>
          <p>&nbsp;&nbsp;&nbsp;</p>
          <p> {{ returnText('COMPANY', 'Company_email_contact') }} </p>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 footer-links"> <!-- Footer Quick Links Column 2 -->
        <h4>{{ returnText('FOOTER', 'Footer_label_links') }}</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#">{{ returnText('FOOTER', 'Footer_nav_home') }}</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">{{ returnText('FOOTER', 'Footer_nav_about') }}</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">{{ returnText('FOOTER', 'Footer_nav_services') }}</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">{{ returnText('FOOTER', 'Footer_nav_terms') }}</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">{{ returnText('FOOTER', 'Footer_nav_privacy') }}</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links"> <!-- Footer Services Column 3 -->
        <h4>{{ returnText('FOOTER', 'Footer_services_title') }}</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a  href="#">{{ returnText('FOOTER', 'Footer_nav_consult') }}</a></li>
          <li><i class="bx bx-chevron-right"></i> <a  href="#">{{ returnText('FOOTER', 'Footer_nav_packages') }}</a></li>
          <li><i class="bx bx-chevron-right"></i> <a  href="#">{{ returnText('FOOTER', 'Footer_nav_develop') }}</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 footer-newsletter"> <!-- Footer Mailing List Column 4 -->
        <h4>{{ returnText('FOOTER', 'Footer_mailing_title') }}</h4>
        <p>{{ returnText('FOOTER', 'Footer_mailing_body') }}</p>
        <div class="">
          <form class="" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                  <input type="text" class="form-control placeholders py-1" name="Email" aria-describedby="emailHelp"
                      placeholder="{{ returnText('CONTACTS', 'Contacts_email_long') }}" formControlName="Email">
                  <div class= "py-1"></div>
                  <input type="text" class="form-control placeholders py-1" name="Fullname" placeholder="{{ returnText('CONTACTS', 'Contacts_name') }}"
                      formControlName="Fullname">
              <div class="inline-centered py-2">
                  <button type="submit" class="one_space_r btn-custom" [disabled]="!FormData.valid">{{ returnText('BUTTON', 'Button_subscribe') }} </button>
              </div>
          </form>

        </div>
      </div>
      <div></div>
      <div class="row py-2">
        <div class="inline-centered social-links ">  <!-- Social Links -->
          <a href="https://www.linkedin.com/company/iiconsult-tech-inc" target="_blank" rel="noopener noreferrer" class="linkedin"><i class="bx bxl-linkedin icon-settings one_space_r one_space_l"></i></a>
          <a href="https://twitter.com/iiconsulttech?ref_src=twsrc%5Etfw" target="_blank" rel="noopener noreferrer" class="twitter"><i class="bx bxl-twitter icon-settings one_space_l"></i></a>
          <a href="https://www.facebook.com/iiConsult.tech" target="_blank" rel="noopener noreferrer" class="facebook"><i class="bx bxl-facebook icon-settings one_space_l"></i></a>
          <a href="https://instagram.com/iiconsult.tech" target="_blank" rel="noopener noreferrer" class="instagram"><i class="bx bxl-instagram icon-settings one_space_l"></i></a>

          <!-- <a aria-label="Angular on twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/angular" title="Twitter">
            <svg id="twitter-logo" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
              <rect width="400" height="400" fill="none"/>
              <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
            </svg>
          </a>
          <a aria-label="Angular on YouTube" target="_blank" rel="noopener noreferrer" href="https://youtube.com/angular" title="YouTube">
            <svg class="icon-setting" id="youtube-logo" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
            </svg>
          </a> -->
        </div>
        <div class="copyright inline-centered"> <!-- Copyright Line -->
          {{ returnText('FOOTER', 'Footer_cp1') }}
          <p>&nbsp;&nbsp;</p>
          <p><strong><span class="name-highlight"> {{ returnText('COMPANY', 'Company_name_long') }}</span></strong></p>
          <p>&nbsp;&nbsp;</p>
          {{ returnText('FOOTER', 'Footer_cp2') }}
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
